a {
    color: #7A5CFA;
}
a:hover {
    color: #7A5CFA;
}

.btn.btn-primary {
    background-color: #7A5CFA;
    outline-color: #7A5CFA;
    padding-top: 10px;
    margin-top: 20px;
    justify-content: center;
}

.dropdown-basic {
    background-color: #7A5CFA;
    color: white;
}
